.projects{
    min-height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    color: white;
}
.projectCard{
    background-color: #3b3939;
    border-radius: 15px;
}
.title{
    width: max-content;
    background-color: white;
    font-size: 30px;
    margin-bottom: 40px;
    color: black;
}
.container{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 15px;
    min-height: 80%;
    width: 80%;
    padding: 20px;
    flex-wrap: wrap;
}
.imgBlock{
    width: 300px;
    height: 300px;
    background-image: url("https://avatars.githubusercontent.com/u/70666153?s=400&u=14ec4f053b6fd6742440c3b25abbe728209bab7d&v=4");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonBlock{
    background-color: #3b3939;
    padding:10px 20px 10px 20px;
    border-radius: 15px;
}
.buttonBlock a{
    color: white;
    text-decoration: none;
}
.projectTitle{
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
}
.descriptionBlock{
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px;
}