.skillsBlock{
    min-height: 100vh;
    background-color: cornflowerblue;
    padding-top: 20px;
}
.title{
    background-color: white;
    margin: auto;
    width: max-content;
    color: black;
    font-size: 30px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px auto 0 auto;
    padding: 20px;
    width: 60%;
    min-height: 80%;
    border: 1px solid black;
    border-radius: 15px;
    flex-wrap: wrap;
}
.skillCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    min-height: max-content;
    width: 250px;
    background-color: #3b3939;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.skillCard h3{
    background-color: white;
}
.description{
    background-color: darkslateblue;
}
.icon{
    width: 50px;
    height: 50px;
    background-color: darkgrey;
}