.navBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}
.navBlock a{
    min-height: 48px;
    display: flex;
    align-items: center;
    color: #c9d1d9;
    text-decoration: none;
}
.navBlock a:active{
    border-bottom: #f78166 2px solid;
}
@media screen and (max-width: 500px) {
    .navBlock{
        width: 100%;
        left: 0;
        right: 0;
        padding: 0 16px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}
